nav {
  margin: .55rem 0 .1rem;
  font-size: 1.2rem;
  width: 100%;
  position: sticky;
}

nav h2 {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0.3rem;
}

time {
  display: inline-block;
  width: 5rem;
}

h1 {
  font-size: 1.75rem;
  margin-bottom: 0;
}

h2 {
  font-size: 1.4rem;
  margin: 1rem 0;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
  margin: 0.4rem;
}

h5 {
  font-size: 0.8rem;
  margin: 0.3rem 0;
}

h6 {
  text-align: center;
  color: #aaa;
  font-size: 0.9rem;
  margin-block-start: 0;
}

code {
  background-color: #443;
  padding: 0 0.15rem;
}

li {
  margin: 0.3rem 0;
}

nav a {
  margin: 0.1rem;
}

body {
  background-color: #161715;
  color: #e0e0e0;
  width: 60%;
  margin: auto;
  font-family: sans-serif;
  font-size: 1.1rem;
}

a {
  color: #dfdf5b;
  text-decoration: none;
}

p {
    line-height: 1.6;
}

article {
    margin: 6px 0;
}

img {
  display: block;
  margin: auto;
  margin-top: 1.8rem;
  max-width: 95%;
}

blockquote {
  font-size: 1.05rem;
  color: #aaa;
}

.right {
    float: right;
}

@media only screen and (max-width: 1200px) {
  body {
    width: 90%;
  }
}
