nav {
    width: 100%;
    margin-bottom: -8px;
}

body {
  background-color: black;
  color: white;
  width: 60%;
  margin: auto;
}

a {
  color: yellow;
  text-decoration: none;
}

p {
    line-height: 1.6;
}

article {
    margin: 4px 0;
}

nav h2 {
    display: inline-block;
}

nav a {
    margin: 0 12px;
}

.right {
    float: right;
}

@media only screen and (max-width: 1200px) {
  body {
    width: 90%;
  }
}
